<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Two way Bindings and class and style</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>FirstName = {{firstName}} </h1>
        <p> {{about}} </p>
        <input v-model="firstName" type="text" placeholder="Input firstName">
        <textarea v-model="about" cols="30" row="10"></textarea>
    </div>
</body>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                firstName: '',
                about: ''
            },
            methods: {
                // handleKeyUp(e) {
                //     this.firstName = e.target.value;
                // }
            }
        })
    </script>
</html>